export(smlapsvm, cstep.smlapsvm, theta_step.smlapsvm, mlapsvm_compact, mlapsvm, 
	   predict.mlapsvm_compact, predict.mlapsvm, Kfold_mlapsvm, predict.smlapsvm,
	   sramlapsvm, cstep.sramlapsvm, theta_step.sramlapsvm, predict.sramlapsvm,
	   ramlapsvm, predict.ramlapsvm, Kfold_ramlapsvm,
	   rmlapsvm, predict.rmlapsvm, Kfold_rmlapsvm,
	   srmlapsvm, cstep.srmlapsvm, theta_step.srmlapsvm, predict.srmlapsvm,
	   generateMultiorange, generateMultiMoon, sim_gen)

exportClasses("ramlapsvm_core", "ramlapsvm", "sramlapsvm",
			  "smlapsvm", "mlapsvm", "rmlapsvm_core", "rmlapsvm", "srmlapsvm")
			  
# Load dynamic libraries (shared object files)
# useDynLib(SMLapSVM)

import("methods")
import("stats")
# import("caret")
import("kernlab")
import("quadprog")
import("lpSolve")
import("parallel")
import("RSSL")
import("Matrix")
import(mlbench)
# import("igraph")
	   